In [2]:
import pandas as pd
url ="https://raw.githubusercontent.com/Bungeetech/internship-test2/master/input/question-2/main.csv"
data = pd.read_csv(url,index_col=0)
data = pd.DataFrame(data)
data.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [8]:
import numpy as np
data1 = pd.pivot_table(data,values=["age"],
                 index=["occupation"],aggfunc=[min,max])

In [9]:
data1.to_csv(r'C:\Users\Gautam Aggarwal\Desktop\bungteeTech\output\output2.csv')